// --------------------------------------------------
// Config
// --------------------------------------------------

//
// Colors
// --------------------------------------------------
$black: #262626;
$light-black: #444549;
$white: #FFFFFF;
