// --------------------------------------------------
// Config
// --------------------------------------------------

//
// Colors
// --------------------------------------------------
$primary-color: red;
$secondary-color: blue;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

$light-black: #444549;
