<ifModule mod_headers.c>
    Header set Connection keep-alive
</ifModule>

RewriteEngine On

# -- Error Docs --
ErrorDocument 404 /404/

# -- 301 Redirects --
# Redirect 301 /oldlocation/oldlocation/ /newlocation/
# Redirect 301 /oldlocation/ /

# -- Browser Caching --
<IfModule mod_expires.c>
ExpiresActive On
# Default
    ExpiresDefault "access plus 1 month"
# HTML
    ExpiresByType text/html "access plus 10 minutes"
# CSS
    ExpiresByType text/css "access plus 1 month"
# Webfonts
    ExpiresByType application/x-font-ttf "access plus 1 month"
    ExpiresByType font/opentype "access plus 1 month"
    ExpiresByType application/x-font-woff "access plus 1 month"
    ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
#JavaScript
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
# Images
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/x-icon "access plus 1 month"
    ExpiresByType image/svg+xml "access plus 1 month"
# Other
    ExpiresByType text/plain "access plus 1 months"
</IfModule>

# Block access to these files for security reasons
<Files ~ "\.DS_Store$">
    Order allow,deny
    Deny from all
</Files>

# -- Compression --
SetOutputFilter DEFLATE

#Redirections
RedirectMatch "^/economie-numerique/(.*)" "https://secretaire-etat.numerique.gouv.fr/economie-numerique/$1"
RedirectMatch "^/transformation-numerique-de-letat/(.*)" "https://secretaire-etat.numerique.gouv.fr/transformation-numerique-de-letat/$1"
RedirectMatch "^/confiance-numerique/(.*)" "https://secretaire-etat.numerique.gouv.fr/confiance-numerique/$1"
RedirectMatch "^/numerique-inclusif/(.*)" "https://secretaire-etat.numerique.gouv.fr/numerique-inclusif/$1"
RedirectMatch "^/europe-et-international/(.*)" "https://secretaire-etat.numerique.gouv.fr/europe-et-international/$1"
RedirectMatch "^/le-secretaire-d-etat/(.*)" "https://secretaire-etat.numerique.gouv.fr/le-secretaire-d-etat/$1"
RedirectMatch "^/presse/(.*)" "https://secretaire-etat.numerique.gouv.fr/presse/$1"
RedirectMatch "^/agenda/(.*)" "https://secretaire-etat.numerique.gouv.fr/agenda/$1"
RedirectMatch "^/actions-startups/(.*)" "https://secretaire-etat.numerique.gouv.fr/actions-startups/$1"
Redirect "/rapport-renforcer-lutte-racisme-antisemitisme-internet" "https://secretaire-etat.numerique.gouv.fr/rapport-renforcer-lutte-racisme-antisemitisme-internet"
Redirect "/etats-generaux-numerique-ouverture-forum-contributif" "https://secretaire-etat.numerique.gouv.fr/etats-generaux-numerique-ouverture-forum-contributif"
Redirect "/mounir-mahjoubi-rencontre-acteurs-indonesiens-secteur-numerique" "https://secretaire-etat.numerique.gouv.fr/mounir-mahjoubi-rencontre-acteurs-indonesiens-secteur-numerique"
Redirect "/presentation-plan-national-numerique-inclusif-lancement-numerique-communs" "https://secretaire-etat.numerique.gouv.fr/presentation-plan-national-numerique-inclusif-lancement-numerique-communs"
