---
title: DINSIC
timezone: Europe/Paris
collections:
  actualites:
    title: Actualités
    output: true
    Data:
      address_ref: 
  communiques:
    title: Communiqués
    output: true
  evenements:
    title: Evènements
    output: true
  missions-dinsic:
    title: Les missions de la Dinsic
    output: true
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: actualites
  values:
    layout: post
    is_une: true
    categories:
    - Article
    chapeau-text: 
    une-ou-diaporama:
    - image: 
      legende: 
      alternative-textuelle: 
    auteur: 
    permalink: "/actualites/:title/"
- scope:
    path: ''
    type: communiques
  values:
    communique_file: uploads/exemple.pdf
    layout: communique
    permalink: "/espace-presse/:title/"
    categories:
    - Communiqué de presse
    chapeau-text: 
    une-ou-diaporama:
    - image: 
      legende: 
      alternative-textuelle: 
    contact-presse:
      name: Rachel Wadoux
      tel:
      - 01.71.21.11.98
      - 06.34.21.55.48
      email: rachel.wadoux@modernisation.gouv.fr
- scope:
    path: ''
    type: evenements
  values:
    layout: post
    permalink: "/evenements/:title/"
url: dinsic.gouv.fr
categories:
- main
language: fr
markdown: kramdown
description: Le site officiel de la DINSIC
plugins:
- jekyll-paginate-v2
- sass
- jekyll-sitemap
include:
- ".htaccess"
- _pages
exclude:
- ".DS_Store"
- ".circleci/"
- bower.json
- composer.json
- composer.lock
- DOC.md
- "/gulp/"
- gulpfile.js
- LICENSE.md
- Makefile
- node_modules
- npm-debug.log
- package.json
- README.md
- rev-manifest.json
- yarn.lock
- yarn-error.log
- "/ansible/"
- "/node_modules/"
pagination:
  enabled: true
  per_page: 20
  permalink: "/page/:num/"
  title: ":title - page :num de :max"
  limit: 0
  sort_field: date
  sort_reverse: true
incremental: true
compress_html:
  ignore:
    envs:
    - development
highlighter: rouge
