// --------------------------------------------------
// Layout Actualités
// --------------------------------------------------

#liste_actualites {
  .icon {
    width: 1rem;
    margin-right: 0.5rem;
    padding-bottom: 0.4rem;
  }
}
