#evenement {
  .event-category {
    font-size: 1.3rem;
  }
  h1 {
    margin: 1rem;
  }
  .title-and-date{
    font-size: 1.2rem;
    font-weight: bold;
  }
  .event-date {
    img {
      width: 1.5rem;
    }
  }
}

.event-card {
  .date-icon {
    width: 1.3rem;
    margin-right: 0.5rem;
  }

  .date-text {
    font-size: 1.1rem;
    font-weight: bold;
    color: $bleue !important;
  }
  .category, .event-content{
    color: $medium-dark-gray;
  }
  h3 {
    font-size: 2rem;
  }
  hr {
    margin-bottom: 0;
  }
}

.event-item {
}

#reportrange {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 1rem;
}

.daterangepicker {
  li {
    tab-index: 0;
  }
}

#informations-pratiques {
  background-color: $bleue-vert;
  color: $white;
  margin: none;
  padding: 1rem;
  h2 {
    text-align: center;
    margin: 0 0 1rem 0;

  }
  p {
    text-align: center;
    margin: 0;
  }
  a {
    color: white;
    text-decoration: underline;
  }
}

#map {
  height: 30rem;
}
