// --------------------------------------------------
// Layout Espace presse
// --------------------------------------------------

.bloc-presse {
  padding: 1rem;
  color: $white!important;
  background: linear-gradient(90deg, $bleue-degrade-1 50%, $bleue-degrade-2);
  margin-right: 1rem;
  text-align: center;
  img {
    display: initial;
    height: 2rem;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
  }
  h2 {
    display: contents;
  }
  h2, p {
    text-align: center;
    margin-bottom: 1rem;
  }
  p {
    margin: 0;
  }
  .h2-contact-presse {
    margin: 0;
    margin-bottom: 1rem;
  }
}

#infos-presse {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
