// --------------------------------------------------
// Layout Espace presse
// --------------------------------------------------

#contact-presse , #ressources-presse {
  padding: 1rem;
  img {
    display: block;
    height: 4rem;
    margin: 0 auto 1rem auto;
  }
  h2, p {
    text-align: center;
    margin-bottom: 1rem;
  }
  p {
    margin: 0;
  }
  .h2-contact-presse {
    margin: 0;
    margin-bottom: 1rem;
  }
}
#contact-presse {
  color: $white!important;
  background: linear-gradient(90deg, $bleue-degrade-1 50%, $bleue-degrade-2);
  margin-bottom: 2rem;
  h2 {

  }
}

#ressources-presse {
  color: $white!important;
  background: $bleue;
}


