#politique-logiciel-libre {
  .sommaire {
    border-right: 1px solid $medium-gray;
    a {
      padding: 0.75rem 0;
    }
  }
  ul li li:before {
    content: url('/assets/img/pictogrammes/triangle-blanc.svg');
    padding-right: 0.3rem;
    width: 1rem;
    display: inline-block;
  }
  h3 {
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  h5::before {
    content: '...';
    margin-right: 0.3rem;
    width: 1rem;
    display: inline-block;
  }
  h4 {
    color: $bleue;
  }
  h5 {
    line-height: 0.6rem;
    max-width: 75rem;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
  }
  h4, h5 {
    margin-bottom: 0.7rem;
    margin-top: 2.5rem;
  }
}
