{% if page.une-ou-diaporama.size == 1 %}
<div class="post__image-container">
  <img class="post__featured-image image-en-tete" alt="{{ page.une-ou-diaporama[0].alternative-textuelle }}" src="{{base}}{{ page.une-ou-diaporama[0].image }}">
</div>
{% endif %}
<div id="titre-article" class="padding-large-5 padding-medium-1">
  {% include components/titre-page-fille.html %}
</div>
<div id="content-article" class="padding-large-horizontal-5 padding-large-vertical-2 padding-medium-1">
  {{ content }}
</div>
