<script type="text/javascript">
  const modernizr = document.createElement('script');
  modernizr.src = '/assets/js/modernizr.js';
  const algolia = document.createElement('script');
  algolia.src = '/assets/js/algolia.js';
  const app = document.createElement('script');
  app.src = '/assets/js/app.js';

  document.body.appendChild(modernizr);
  document.body.appendChild(app);
</script>
{% if page.title == 'Rechercher'v%}
<script type="text/javascript">
  document.body.appendChild(algolia);
</script>
{% endif %}
