<div id="meilleures-actualites" class="grid-container">
  {% assign sorted_actualites = site.actualites | where: "is_une","true" | sort:'date' | reverse %}
  {% assign actualite_principal = sorted_actualites.first %}
  <div class="grid-x grid-margin-x grid-margin-y margin-bottom-2">
      {% include components/carte-double.html carte-double=actualite_principal %}
    <ul class="cell remove-bullet large-12 grid-x grid-margin-x margin-0 width-100">
      {% for actualite in sorted_actualites limit:3 offset:1 %}
      <li class="cell large-4 medium-6 small-12">
        {% include components/carte.html data=actualite is_image=true  %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
