$hamburger-padding-x                       : 1rem;
$hamburger-padding-y                       : 1rem;
$hamburger-layer-width                     : 2rem;
$hamburger-layer-height                    : 3px;
$hamburger-layer-spacing                   : 3px;
$hamburger-layer-color                     : $black;
$hamburger-layer-border-radius             : 4px;
$hamburger-hover-opacity                   : 0.7;
$hamburger-hover-transition-duration       : 0.15s;
$hamburger-hover-transition-timing-function: linear;
