// --------------------------------------------------
// Layout default
// --------------------------------------------------

header {
  @include grid-row;
  background-color: $white;
  max-width: none;

  nav {

    @include grid-column;
    a {
      color: $black;
      img {
        height: 2em;
        max-width: 100%;
      }
    }
    .padding-top-align {
      padding-top: 1.1rem;
    }
  }
}

footer {
  @include grid-row;
  max-width: none;
  background-color: $black;
  color: $white;
  nav {
    @include grid-column;
    li {
      a {
        color: $white;
      }
    }
  }
}
