// --------------------------------------------------
// Layout default
// --------------------------------------------------

header {
  @include grid-row;
  background-color: $white;
  max-width: none;

  nav {
    margin-top: 1rem;
    @include breakpoint(medium down) {
      margin-top: 0rem;
    }
    #dinsic-main-menu {
      padding-left: 2rem;
      padding-right: 2rem;
      @include breakpoint(medium down) {
        padding-left: 0rem;
        padding-right: 0rem;
      }
    }
    @include grid-column;
    a {
      color: $black;
      img {
        height: 2em;
        max-width: 100%;
      }
    }
    .padding-top-align {
      padding-top: 1.1rem;
    }
  }
}

footer {
  @include grid-row;
  max-width: none;
  background-color: $black;
  color: $white;
  nav {
    @include grid-column;
    li {
      a {
        color: $white;
      }
    }
  }
}
