// --------------------------------------------------
// Functions
// --------------------------------------------------


.infobulle {
  position: relative;  /*les .picto-item deviennent référents*/
  cursor: help;
  border-bottom: 1px dashed $black;
  &:hover:after,
  &:focus:after {
    content: attr(aria-label);  /* on affiche aria-label */
    position: absolute;
    top: -4.4rem;
    left: 50%;
    transform: translateX(-50%); /* on centre horizontalement  */
    z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
    white-space: normal;  /* on interdit le retour à la ligne*/
    padding: 0.3rem 1rem;
    background: $dark-gray;
    color: $white;
    border-radius: 0.2rem;
    font-size: 0.7rem;
    width: 15rem;
    @include breakpoint(small only) {
      width: 15rem;
      top: -4.4rem;
    }
  }
}
[aria-label]:hover:before,
[aria-label]:focus:before {
  content: "▼";
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%); /* on centre horizontalement  */
  font-size: 20px;
  color: $dark-gray;
}

/* pas de contour durant le :focus */
[aria-label]:focus {
  outline: none;
}

.no-border {
  border: none;
}
