// --------------------------------------------------
// Mixins
// --------------------------------------------------
/// Hamburger
$hamburger-width : 20px;
$hamburger-height : 16px;
$hamburger-weight : 2px;
$hamburger-bar : 3;

.hamburger-icon {
  @include hamburger($black, $light-black, $hamburger-width, $hamburger-height, $hamburger-weight, $hamburger-bar);
}

.margin-top-auto {
  margin-top: auto !important;
}

.line-height-unset {
  line-height: unset !important;
}

.padding-top-1-1 {
  padding-top: 1.1rem !important;
}

.margin-vertical-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-horizontal-auto {
  margin-right: auto;
  margin-left: auto;
}
.margin-bottom-5 {
  margin-bottom: 5rem;
}

.margin-bottom-0-5 {
  margin-bottom: 0.5rem;
}

.height-20rem {
  height: 20rem!important;
}

.height-10rem {
  height: 10rem!important;
}
