// --------------------------------------------------
// APP.SCSS
// --------------------------------------------------
// This is our main SCSS file that imports everything
// that gets compiled into app.css

// Import order:
// 1.  Encoding
// 2.  Variables
// 3.  Fonts
// 4.  Foundation
// 5.  Helpers
//
// SMACSS Architecture
// 6.  Base
// 7.  Layout
// 8.  Modules
// 9.  State
// 10. Theme

//
// 1. Encoding
// --------------------------------------------------
@charset "UTF-8";

//
// 2. Variables
// --------------------------------------------------

// Import our global variables first so we can use
// them in Foundations's variables file

// Global Config Variables
@import '../_sass/base/config';

//
// 3. Fonts
// --------------------------------------------------

// Open Sans
// @import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");

//
// 4. Foundation
// --------------------------------------------------
// Source: http://foundation.zurb.com/docs/
// Notes:
// - Foundation's component styles are set
//   in foundation/_settings.
// - Modify the _settings.scss file before overriding
//   the component styles on your own.
// - Need a specific foundation component? Enable it
//   in foundation/_foundation.scss.

// Import all of Foundation
@import '../_sass/foundation/foundation';
@import '../_sass/foundation/foundation-datepicker';

//
// 5. Helpers
// --------------------------------------------------

// Functions
@import '../_sass/helpers/functions';

// Mixins
@import '../_sass/helpers/mixins';

// Images
@import '../_sass/helpers/images';

@import "../_sass/helpers/calandar";

//
// 6. Base
// --------------------------------------------------
@import '../_sass/base/headings';
@import '../_sass/base/links';
@import '../_sass/base/icons';
@import '../_sass/base/font';

//
// 7. Layout
// --------------------------------------------------
@import '../_sass/layouts/l-contacts';
@import '../_sass/layouts/l-default';
@import '../_sass/layouts/page/l-index';
@import '../_sass/layouts/l-page';
@import '../_sass/layouts/l-page-fille';

@import '../_sass/layouts/page/l-dix-principes';
@import '../_sass/layouts/page/l-avis-conformes';
@import '../_sass/layouts/page/l-dinsic';
@import '../_sass/layouts/page/l-historique';
@import '../_sass/layouts/page/l-espace-presse';
@import '../_sass/layouts/page/l-actualites';
@import '../_sass/layouts/page/l-agenda';
@import '../_sass/layouts/page/l-politique-logiciel';
@import '../_sass/layouts/page/l-publications';


//
// 8. Modules
// --------------------------------------------------
@import '../_sass/modules/m-code-highlighting';

//
// 9. State
// --------------------------------------------------
@import '../_sass/states/s-your-module';

//
// 10. Theme
// --------------------------------------------------
@import '../_sass/themes/theme';
@import '../_sass/themes/blocs-theme';
@import '../_sass/themes/images-theme';

//
// 11. Other
//
@import "../_sass/hamburgers/hamburgers";
