<ul class="grid-x margin-left-0">
  <li class="social__item">
    <a target="_blank" href="https://twitter.com/_dinum" class="social__icon--twitter" title="Twitter">
      <span class="fab fa-twitter" aria-hidden="true"></span>
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" href="https://www.linkedin.com/company/direction-interministerielle-du-numerique-dinum/" class="social__icon--linkedin"  title="Linkedin">
      <span class="fab fa-linkedin-in" aria-hidden="true"></span>
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" href="https://github.com/numerique-gouv/numerique.gouv.fr" class="social__icon--github" title="Github">
      <span class="fab fa-github-alt" aria-hidden="true"></span>
    </a>
  </li>
  <li class="social__item">
    <a href="/rss/" class="social__icon--rss"  title="RSS">
      <img src="/assets/img/pictogrammes/rss-solid.svg" alt="RSS" class="fab rss-icon">
    </a>
  </li>
</ul>
