<ul class="grid-x margin-left-0">
  <li class="social__item">
    <a target="_blank" href="https://twitter.com/_dinsic" class="social__icon--twitter" >
      <span class="fab fa-twitter" aria-hidden="true" title="Twitter"></span>
      <span class="off-screen">Twitter</span></a>
  </li>
  <li class="social__item">
    <a target="_blank" href="https://www.linkedin.com/company/direction-interministerielle-du-numerique-et-du-si-de-l-etat-dinsic/" class="social__icon--linkedin">
      <span class="fab fa-linkedin-in" aria-hidden="true" title="Linkedin"></span>
      <span class="off-screen">Linkedin</span>
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" href="https://github.com/etalab" class="social__icon--github">
      <span class="fab fa-github-alt" aria-hidden="true" title="Github"></span>
      <span class="off-screen">Github</span>
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" href="/rss/" class="social__icon--rss">
      <img src="/assets/img/pictogrammes/rss-solid.svg" alt="RSS" class="fab" width="40" aria-hidden="true" title="RSS">
    </a>
  </li>
</ul>
