{% assign carte = include.data %}

<div class="cell grid-y carte height-100">
  <a href="{{ carte.url}}" class="black-link">
    {% if carte.une-ou-diaporama[0] %}
    <div class="object-fit__image-container index-image-container">
      <img class="object-fit__featured-image" alt="{{ carte.une-ou-diaporama[0].alternative-textuelle }}" src="{{ base }}{{ carte.une-ou-diaporama[0].image }}">
    </div>
    {% endif %}
    <div class="padding-2">
      <p class="h4 font-bold margin-0">{{ carte.title }}</p>
      {% if carte.categories %}
      <span class="h6 date display-inline">{{ carte.categories }} | </span>
      {% endif %}
      {% if carte.date %}
      <span class="h6 date display-inline-block">{% include helpers/date.html date=carte.date %}</span>
      {% endif %}
      <p>
        {% if carte.chapeau-text %}
        {{ carte.chapeau-text | remove_markdown | truncatewords: 25  }}
        {% else %}
        {{ carte.content | remove_markdown | truncatewords: 25 }}
        {% endif %}
      </p>
    </div>
  </a>
  <hr class="blue-hr margin-top-auto">
</div>
