{% assign carte = include.data %}
{% assign is_image = include.is_image %}

<div class="cell grid-y carte height-100">
  <a href="{{ carte.url}}" class="black-link">
    {% if carte.une-ou-diaporama[0] and is_image %}
    <div class="post__image-container index-image-container">
      <img class="post__featured-image" alt="{{ carte.une-ou-diaporama[0].alternative-textuelle }}" src="{{ carte.une-ou-diaporama[0].image }}">
    </div>
    {% endif %}
    <div class="padding-2">
      <p class="h4 font-bold margin-0">{{ carte.title }}</p>
      {% if carte.categories %}
      <span class="h6 date display-inline-block">{{ carte.categories }} | </span>
      {% endif %}
      {% if carte.date %}
      <span class="h6 date display-inline-block">{% include date.html date=carte.date %}</span>
      {% endif %}
      <p>
        {% if carte.chapeau-text %}
        {{ carte.chapeau-text | truncatewords: 20}}
        {% else %}
        {{ carte.content | truncatewords: 30}}
        {% endif %}
      </p>
    </div>
  </a>
  <hr class="blue-hr margin-top-auto">
</div>
