{% assign carte = include.data %}

<div class="cell grid-y carte height-100">
  <div class="card-actu simple-card block-link">
    <div class="padding-2">
      <h3 class="h4 font-bold margin-0">
        <a
          {% if carte.redirection-interne or carte.redirection %}
            {% if carte.redirection %}
            href="{{carte.redirection}}" title="{{ carte.title }} - lien externe"
            {% else %}
            href="{{carte.redirection-interne}}" title="{{ carte.title }}"
            {% endif %}
          {% else %}
            href="{{ carte.url}}"
          {% endif %}
          class="black-link card-actu-link">
        {{ carte.title }}
        </a>
        {% if carte.redirection %}
        <img class="picto-external-link" src="/assets/img/pictogrammes/icon-lien.png" alt="">
        {% endif %}</h3>
      {% if carte.categories %}
      <p class="h6 date display-inline">{{ carte.categories.last }} | </p>
      {% endif %}
      {% if carte.date %}
      <p class="h6 date display-inline-block">{% include helpers/date.html date=carte.date %}</p>
      {% endif %}
      <p>
        {% if carte.chapeau-text %}
        {{ carte.chapeau-text | markdownify | strip_html  | truncatewords: 25 }}
        {% else %}
        {{ carte.content | markdownify | strip_html | truncatewords: 25 }}
        {% endif %}
      </p>
    </div>
    {% if carte.une-ou-diaporama[0] %}
    <div class="object-fit__image-container index-image-container carte-image">
      <img class="object-fit__featured-image" alt="{{ carte.une-ou-diaporama[0].alternative-textuelle }}" src="{{ base }}{{ carte.une-ou-diaporama[0].image }}">
    </div>
    {% endif %}
  </div>
  <hr class="blue-hr margin-top-auto">
</div>
