{% assign carte-double = include.carte-double %}
<a href="{{ carte-double.url}}" class="grid-x black-link grid-margin-x margin-horizontal-0 margin-vertical-1-5">
  <div class="cell large-8 medium-6 small-12 object-fit__image-container height-25rem">
    {% if carte-double.une-ou-diaporama[0] %}
    <img class="object-fit__featured-image" alt="{{ carte-double.une-ou-diaporama[0].alternative-textuelle }}" src="{{ base }}{{ carte-double.une-ou-diaporama[0].image }}">
    {% endif %}
  </div>
  <div class="cell large-4 medium-6 small-12">
    <div class="cell grid-y carte-double height-100">
      <div class="padding-2">
        <p class="h4 font-bold margin-0">{{ carte-double.title }}</p>
        {% if carte-double.categories %}
        <span class="h6 date display-inline">{{ carte-double.categories }} | </span>
        {% endif %}
        {% if carte-double.date %}
        <span class="h6 date display-inline-block">{% include herlpers/date.html date=carte-double.date %}</span>
        {% endif %}
        <p>
          {% if carte-double.chapeau-text %}
          {{ carte-double.chapeau-text | truncatewords: 25}}
          {% else %}
          {{ carte-double.content | truncatewords: 25}}
          {% endif %}
        </p>
      </div>
      <hr class="blue-hr margin-top-auto">
    </div>
  </div>
</a>
