{% if page.fil-ariane %}
  {% assign crumbs = page.fil-ariane | split: '/' %}
{% else %}
  {% assign rectifyUrl = page.url | replace: 'actualites','actualités' | replace: 'evenements','evénements' %}
  {% assign temp_crumbs = rectifyUrl | remove:'/index.html' | split: '/' %}
  {% capture crumbs_string %}
    {% for crumb in temp_crumbs %}
      {% if forloop.first == true %}{{ crumb }}{% elsif forloop.last == false %}::{{ crumb }}{% else %}::{{ page.title }}{% endif %}
    {% endfor %}
  {% endcapture %}
  {% assign crumbs = crumbs_string | split: '::' %}
{% endif %}
{% if crumbs.size > 1 %}
  <nav class="default-text-padding margin-vertical-1 h6" id="file-arianne">
    <a href="/">Accueil</a>
    {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
    > {{ crumb | replace:'-',' ' || remove:'.html' | capitalize }}
    {% else %}
    >
    {% capture lien %}
      {% assign crumb_limit = forloop.index | plus: 1 %}
      {% for crumb in crumbs limit: crumb_limit %}
        {{ crumb | append: '/' | replace: 'é','e' | strip   }}
      {% endfor %}
    {% endcapture %}
    {% assign lien_formate = lien | strip | strip_newlines %}
    <a href="{{ lien_formate }}">
    {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
    </a>
    {% endif %}
    {% endfor %}
  </nav>
{% endif %}
