<nav id="nav-dinsic" role="navigation">
  <div id="nav-titre">
    {% include components/titre-site.html %}
  </div>
  <div id="nav-content">
    <div class="title-bar" data-responsive-toggle="responsive-menu" >
      <div class="title-bar-right" data-hide-for="medium">
        <button id="hamburger-button" class="hamburger hamburger--collapse" type="button" data-toggle="responsive-menu" >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
          <span class="off-screen">Ouvrir le menu</span>
        </button>
      </div>
    </div>
    <div class="top-bar" id="responsive-menu" data-animate="slide-in-left slide-out-left">
      <div class="top-bar-left">
        <a id="nav" tabindex="-1"></a>
        <ul class="vertical medium-horizontal dropdown menu" data-dropdown-menu>
          {% for item in site.data.nav-main %}
          <li>
            <a class="black-link" href="{{ item.url }}">{{ item.link }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% if page.title != "Rechercher" %}
      <form id="rechercher" action="/rechercher" class="search-form top-bar-right" method="get" role="search">
        <a id="recherche" tabindex="-1"></a>
        <label for="input-rechercher" class="off-screen">Rechercher dans le site dinsic.gouv.fr</label>
        <input id="input-rechercher" aria-label="Ma recherche" type="text" name="query"><!--
        --><button type="submit">
          <span class="off-screen">Lancer la recherche</span>
          <span aria-hidden="true" class="fas fa-search icon-recherche"></span>
        </button>
      </form>
      {% endif %}
    </div>
  </div>
</nav>
