<nav>
  <div class="grid-x grid-margin-x padding-2">
    <div class="large-4 medium-12 small-12 ">
      <h3><a href="{{ base }}/">{{ site.url }}</a></h3>
      <p>Grâce au numérique, nous créons le service public de demain</p>
      <ul class="grid-x margin-left-0">
        <li class="social__item">
          <a target="_blank" href="https://twitter.com/_dinsic" class="social__icon--twitter" >
            <span class="fab fa-twitter" aria-hidden="true" title="Twitter"></span>
            <span class="off-screen">Twitter</span></a>
        </li>
        <li class="social__item">
          <a target="_blank" href="https://www.linkedin.com/company/direction-interministerielle-du-numerique-et-du-si-de-l-etat-dinsic/" class="social__icon--linkedin"><span class="fab fa-linkedin-in"></span></a>
        </li>
        <li class="social__item">
          <a target="_blank" href="https://github.com/etalab" class="social__icon--github"><span class="fab fa-github-alt"></span></a>
        </li>
      </ul>
      <ul class="no-bullet">
        {% for item in site.data.nav-footer %}
        <li><a class="text-uppercase" href="{{ item.url }}">{{ item.link }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="cell large-8 show-for-large grid-y">
      <div class="padding-left-3">
        <h5>Plan du site</h5>
        <ul class="no-bullet">
          {% for item in site.data.plan-du-site %}
          <li><a href="{{ item.url }}">{{ item.link }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="cell large-8 large-offset-4 show-for-large">
      <ul id="site-public" class="no-bullet">
        <li class="float-left">Les sites publics :</li>
        {% for item in site.data.nav-sites-publics %}
        <li class="float-left"><a href="{{ item.url }}">{{ item.link }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
