<nav>
  <div class="grid-x grid-margin-x padding-2">
    <div class="large-4 medium-12 small-12 ">
      <h2 class="h3">{{ site.title }}</h2>
      <p>Grâce au numérique, nous créons le service public de demain</p>
      {% include components/boutons-social.html %}
      <ul class="no-bullet">
        {% for item in site.data.nav-footer %}
        <li><a class="text-uppercase" href="{{ item.url }}">{{ item.link }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="cell large-8 show-for-large grid-y">
      <div class="padding-left-3">
        <h3 class="h5">Plan du site</h3>
        <ul class="no-bullet">
          {% for item in site.data.plan-du-site %}
          <li><a href="{{ item.url }}">{{ item.link }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <a href="#">
      <span aria-hidden="true" class="fas fa-arrow-up"></span>
      <span class="off-screen">retour en haut de page</span>
    </a>
    <div class="cell large-8 large-offset-4 show-for-large">
      <ul id="site-public" class="no-bullet">
        <li class="float-left">Les sites publics :</li>
        {% for item in site.data.nav-sites-publics %}
        <li class="float-left"><a href="{{ item.url }}">{{ item.link }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
