<div class="partager">
  <p class="text-center font-bold margin-0">Partager</p>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}">
        <img width="32" alt="partager sur Twitter" src="/assets/img/pictogrammes/partager_twitter.svg">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}">
        <img width="32" alt="partager sur Linkedin" src="/assets/img/pictogrammes/partager_linkedin.svg">
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}">
        <img width="32" alt="partager sur Facebook" src="/assets/img/pictogrammes/partager_facebook.svg">
      </a>
    </li>
    <li>
      <a href="mailto:?subject={{ site.title | remove: '\n' | replace: ' ','&nbsp;' }}&nbsp;:&nbsp;{{ page.url | remove: '\n' | replace: ' ','&nbsp;' }}&body={{ page.url | remove: '\n' |  absolute_url }}">
        <img width="32" alt="partager par email" src="/assets/img/pictogrammes/partager_mail.svg">
      </a>
    </li>
  </ul>
</div>
