{% if page.layout == 'evenement' %}
  <p class="event-category text-center margin-bottom-0">|  {{ page.categories[0] }}  |</p>
{% endif %}

<h1 class="font-bold text-center margin-0">{{ page.title }}</h1>

{% if page.sous-titre %}
  <p class="h2 text-center">{{ page.sous-titre }}</p>
{% endif %}

{% unless page.layout == 'evenement' %}
<hr>
{% endunless %}

{% if page.chapeau-text %}
<p class="lead chapeau margin-bottom-0">
  {{ page.chapeau-text | markdownify }}
</p>
{% endif %}

<p class="meta text-center margin-bottom-0">
  {% if page.collection == 'communiques'  %}
    <span class="date"> {{ page.categories.last }}</span>
    <span class="meta"> | </span>
  {% endif %}

  {% unless page.event_start_date %}
    <time class="date">{% include helpers/date.html date=page.date %}</time>
  {% endunless %}

  {% if page.date_de_modification %}
    <span class="meta"> - </span>
    <time class="date">mis à jour le {{ page.date_de_modification }}</time>
  {% endif %}

  {% if page.auteur and page.date %}
    <span class="meta"> | </span>
  {% endif %}


  {% if page.auteur %}
    <span class="auteur ">{{ page.auteur }}</span>
  {% endif %}
</p>
{% include components/partager.html %}
