<script type="text/javascript" src="https://tarteaucitron.io/load.js?domain=numerique.gouv.fr&uuid=a86d8ff1c4c8d37ead14ceacf67ab509a1ebb18f"></script>
<script>
  (tarteaucitron.job = tarteaucitron.job || []).push('dailymotion');
  (tarteaucitron.job = tarteaucitron.job || []).push('youtube');
  (tarteaucitron.job = tarteaucitron.job || []).push('twittertimeline');
  const cookiesLink = document.getElementById("tarteaucitronManager")
  if (cookiesLink !== null) {
    cookiesLink.onclick = function() { tarteaucitron.userInterface.openPanel();return false };
  }
</script>
