<script type="text/javascript" src="https://tarteaucitron.io/load.js?domain=numerique.gouv.fr&uuid=a86d8ff1c4c8d37ead14ceacf67ab509a1ebb18f"></script>
<script>
  (tarteaucitron.job = tarteaucitron.job || []).push('dailymotion');
  (tarteaucitron.job = tarteaucitron.job || []).push('youtube');
  (tarteaucitron.job = tarteaucitron.job || []).push('twittertimeline');
  tarteaucitron.services.twitter_ads = {
    "key": "twitter_ads",
    "type": "ads",
    "name": "Twitter",
    "needConsent": true,
    "cookies": ['personalization_id'],
    "readmoreLink": "/custom_read_more", // If you want to change readmore link
    "js": function () {
      "use strict";
      !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
        a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      twq('init','o6zs6');
      twq('track','PageView');
    },
    "fallback": function () {
      "use strict";
      // Quand l'utilisateur refuse les cookies ou qu'il ne les a pas encore accepté
    }
  };

  (tarteaucitron.job = tarteaucitron.job || []).push('twitter_ads');
</script>
