.avis-container {
  .card-ministere {
  }
  .card-inside {
    background-color: white;
    padding: 0 1rem;
    height: 100%;
  }
  img {
    margin: 1rem 0;
  }
  .date-avis {
    font-size: larger;
    color: $medium-dark-gray;
    border-bottom: 1px solid $medium-dark-gray;
    width: 100%;
  }
  .list-avis {
    margin-bottom: 4rem;
  }
  .avis-item {
    color: $medium-dark-gray;

  }
  .titles {
    font-weight: bold;
    margin-top: 1.5rem;
    color: $black;
    text-decoration: none !important;
  }
}
