// --------------------------------------------------
// Layout actualite
// --------------------------------------------------

#main-post {
  article  {
    img{
      width: 100%;
      height: 40vh;
      object-fit: cover;
    }
    #content-article {
      background-color: $white;

    }
  }


  //other elements
  //@include grid-column;
}
