.avis-container {
  img {
    margin: 1rem 0;
  }
  .titles {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1.5rem;
  }
  .date-avis {
    color: $medium-dark-gray;
    border-bottom: 1px solid $medium-dark-gray;
    width: 100%;
    font-size: 1.1rem;
  }
  .list-avis {
    margin-bottom: 4rem;
  }
  .avis-item {
    color: $medium-dark-gray;
    font-size: 1.2rem;
  }
}
