// --------------------------------------------------
// Layout actualite
// --------------------------------------------------

#main-article {
  max-width: none;
  img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  article  {
    #content-article {
      max-width: 75rem;
      margin-left: auto;
      margin-right: auto;
    }
  }


  //other elements
  //@include grid-column;
}
