// --------------------------------------------------
// Layout contact page
// --------------------------------------------------
#contact-form {
  margin: 2rem;
  padding: 1rem;
  border: solid $dark-gray 0.1rem;
}
