// --------------------------------------------------
// Layout contact page
// --------------------------------------------------
#contact-form {
  margin: 2rem;
  padding: 1rem;
}

#message {
  height: 2rem;
}
.green-message {
  background-color: #a9da9b;
}
.red-message {
  background-color: #db756b;
  color: white;
}
.required {
  color: #e42124;
}
.required-fields {
  text-align: right;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'],
[type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'],
[type='color'], textarea {
  border-color: $accessible-interface-gray;
}
