// --------------------------------------------------
// Layout default
// --------------------------------------------------

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

header {
  background-color: $white;
  max-width: none;
  hr{
    border: 0.01rem solid lightgray;
    width: 100%;
    max-width: none;
    box-shadow: 0px 0.8px 1px lightgray;
    margin: 0rem;
  }
}
.marianne {
  height: 2rem;
  max-width: 100%;
}
#nav-dinsic {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  @include breakpoint(small only) {
    background-color: $white;
    top:0;
  }
  #nav-titre {
    flex-basis:min-content;
    padding: 1.3rem;
    h1, a {
      margin: 0;
      padding: 0;
      font-size: large;
      font-weight: bold;
      img {
        padding-right: 0.5rem;
      }
      i {
        font-weight: normal;
      }
    }
  }
  #nav-content {
    flex: 1;
    padding: 1rem;
    * {
      margin: 0;
    }
    #responsive-menu {
      padding: 0;
      @include breakpoint(small only) {
        z-index: 1;
        position: absolute;
        left:0;
        padding: 1rem;
        width: 100%;
      }
    }
    .title-bar-right {
      margin: 0;
    }
    .hamburger {
      padding: 0;
    }
    .icon-recherche {
      padding: 0.5rem;
      color: $bleue;
      font-size: 1.5rem;
    }
  }
  #rechercher{
    display: flex;
  }
}

#file-arianne {
  font-size: smaller;

  @include breakpoint(medium down) {
    padding-left: 1rem;
  }
}




footer {
  background-color: $black;
  nav {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    color: $medium-gray;
    a {
      color: $light-gray;
      display: block;
      &:hover {
        color: $light-gray;
        text-decoration: underline;
      }
    }
    #site-public {
      font-size: smaller;
      li {
        padding: 0.5rem;
      }
      a {
        display: block;
      }
    }
  }
  .gray-link-footer {
    color: $medium-gray;
  }
}

.default-text-padding {
  padding-left: 3rem;
  padding-right: 3rem;
  @include breakpoint(medium down) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

#retour-haut {
  position: fixed;
  top: 50vh;
  right: 1rem;
  background-color: red;
  visibility: hidden;
}

#meilleures-actualites {
  ul {
    li {
      background-color: $white;
      @include breakpoint(medium down) {
        margin-bottom: 1rem;
      }
      .index-image-container {
        height: 13rem !important;
      }
    }
  }
}


#actu-a-la-une {
  background-color: $white;
}


.skip-link {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
  a {
    position: absolute;
    top: -9em;
    padding: .5em 1em;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    background-color: $black;
    color:$white;
    font-weight: bold;
    &:focus {
      top: 0;
    }
  }

}

