// --------------------------------------------------
// Layout default
// --------------------------------------------------

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

header {
  @include grid-row;
  background-color: $white;
  max-width: none;

  nav {
    .title-bar {
      .hamburger-inner {
        margin-top: 2rem;
      }
    }
    @include grid-column;
    margin-top: 1rem;
    @include breakpoint(medium down) {
      margin-top: 0rem;
    }
    #dinsic-main-menu {
      padding-left: 2rem;
      padding-right: 2rem;
      @include breakpoint(medium down) {
        padding-left: 0rem;
        padding-right: 0rem;
      }
      .padding-top-align {
        padding-top: 1.1rem;
      }
      .search-form {
        button {
          background-color: $white;
          border: $light-gray solid 1px;
          img{
            height: 1rem;
          }
        }
      }
    }
    a {
      color: $black;
      img {
        height: 2rem;
        max-width: 100%;
      }
    }
  }
}

footer {
  @include grid-row;
  max-width: none;
  background-color: $black;
  color: $white;
  nav {
    @include grid-column;
    li {
      a {
        color: $white;
      }
    }
  }
}
