// --------------------------------------------------
// Layout dinsic page
// --------------------------------------------------
#dinsic-page {
  @include breakpoint(medium down) {
    padding: 1rem;
  }
  #titre-dinsic-page {
    img {
      height: 50vh;
      @include breakpoint(medium down) {
        padding: 0rem;
      }
    }
    p {
      font-size: larger;
    }
  }
  section {
    h1{
      font-weight: bold;
      text-align: center;
    }
    p {
      color: $dark-gray;
    }
    .encadre-dinsic {
      background-color: $encadre-bleue-avant;
      box-shadow: -0.5rem -0.5rem 0rem $encadre-bleue-arriere;
      padding: 2rem;
      @include breakpoint(medium down) {
        padding: 1rem;
      }
      img {
        width: 1.5rem;
      }
      #chiffres-encadre {
        .chiffre-encadre {
          margin: 0rem;
          .logo-chiffre-encadre {
            background-color: $white;
            border: 0.2rem solid $bleue;
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            img {
              width: 3rem;
            }
          }
          .valeur-chiffre-encadre {
            p {
              color: $bleue;
            }
          }
        }
      }
    }
  }
}
