// --------------------------------------------------
// Layout index page
// --------------------------------------------------
#index-main {
  background-color: $white;
  max-width: none;

  #visuel-accueil {
    background: url("/assets/img/lorem_ipsum/Home.jpg") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */;
    display: flex;
    height: 40vh;
    min-height: 20rem;
    @include breakpoint(medium down) {
      margin: 0rem;
      min-height: 30rem;
    }
    .encart-transparent {
      max-width: 55rem;
      background-color: rgba(0, 0, 0, 0.6);
      margin-left: auto;
      margin-right: auto;
      .titre-encart-transparent {
        color: $white;
      }
    }
  }
  #meilleures-actus {
    background-color: $light-gray;
    ul {
      li {
        background-color: $white;
        @include breakpoint(medium down) {
          margin-bottom: 1rem;
        }
        .index-image-container {
          height: 13rem !important;
        }
      }
    }
    #voir-tout {
      a{
        color:$bleue;
        font: $header-font-family;
        font-weight: bold;
        font-size: larger;
        text-transform: uppercase;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-left:1px solid $bleue;
        border-right:1px solid $bleue;

      }
    }
  }






  //other elements
  //@include grid-column;
}
