// --------------------------------------------------
// Layout page
// --------------------------------------------------

main {
  background-color: $white;

  //other elements
  //@include grid-column;

}

#list_post, #hits {
  .icon {
    width: 1rem;
    margin-right: 0.5rem;
    padding-bottom: 0.4rem;
  }
}

