// --------------------------------------------------
// Layout post and other
// --------------------------------------------------

.list-post {
  li {
    &:nth-child(odd) {
      flex-direction: row-reverse;
      .illustration {
        box-shadow: -0.5rem -0.5rem 0rem $light-gray;
      }
    }
    &:nth-child(even) {
      flex-direction: row-;
      .illustration {
        box-shadow: 0.5rem -0.5rem 0rem $light-gray;
      }
    }
  }
}

.post-content {
  margin-top: 6rem;
}

.post {
  max-width: none;
  padding-bottom: 1rem;
  article  {
    max-width: 50rem;
    margin-right: auto;
    margin-left: auto;
    background-color: $white;
    .image-en-tete{
      height: 50vh;
    }

    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 1.5rem;
      text-indent: -1.5rem;
      li {
        &:before {
          content: "►";
          display: block;
          float: left;
          width: 1.5rem;
          color: $bleue;

        }
        li {
          &:before {
            color: $bleue-clair;
          }
        }
      }
    }

  }

  //other elements
  //@include grid-column;
}

.contact {
  p{
    margin: 0rem;
  }
}


