// --------------------------------------------------
// Layout post and other
// --------------------------------------------------

.post {
  max-width: none;
  background-color: $light-gray;
  padding-bottom: 1rem;
  article  {
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
    background-color: $white;
    padding: 2rem;
    .image-en-tete{
      height: 50vh;
    }
    .en-tete {
      font-size: larger;
    }
    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 1.5rem;
      text-indent: -1.5rem;
    }

    li:before {
      content: "►";
      display: block;
      float: left;
      width: 1.2rem;
    }
    .citation {
      width: 100%;
      padding: 3rem 4rem;
      position: relative;
      margin-bottom: 2rem;
      &::before, &::after {
        top: 0;
        bottom: 0;
        width: 25px;
        content: '';
        position: absolute;
      }
      &::before {
        right: 100%;
      }
      &::after {
        left: 100%;
      }
      p {
        margin: 0;
        &::before {
          top: 0;
          left: 2rem;
          color: $dark-gray;
          content: '“';
          font-size: 4rem;
          position: absolute;
        }
        &::after {
          right: 2rem;
          color: $dark-gray;
          content: '”';
          bottom: -2rem;
          font-size: 4rem;
          position: absolute;
        }
      }
    }
    .encadre {
      color: $black;
      border: 1px solid $black;
    }
  }

  //other elements
  //@include grid-column;
}

.contact {
  p{
    margin: 0rem;
  }
}
