// --------------------------------------------------
// Layout post and other
// --------------------------------------------------


.post {
  max-width: none;
  article  {
    max-width: 50rem;
    margin-right: auto;
    margin-left: auto;
    background-color: $white;
    h2 {
      margin-top: 3rem;
    }
    .image-en-tete{
      height: 50vh;
    }

    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 1.5rem;
      text-indent: -1.5rem;
      li {
        &:before {
          content: "►";
          display: block;
          float: left;
          width: 1.5rem;
          color: $bleue;

        }
        li {
          &:before {
            color: $bleue-clair;
          }
        }
      }
    }

  }
}



