#tarteaucitronDisclaimerAlert{
  font-size: 1rem !important;
}
.twitter .tac_activate .tac_float {
  background: #4e4e4e !important;
  color: #fff !important;
}
.tac_activate {
  justify-content: center;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
}
.tac_activate .tac_float {
  width: 100% !important;
  height: 100% !important;
}
div#tarteaucitronRoot.tarteaucitronBeforeVisible:before {
  content: none !important;
}
body #tarteaucitronRoot div#tarteaucitronAlertBig {
  display: none !important;
}
