// --------------------------------------------------
// Theme
// --------------------------------------------------
.blue-hr {
  background-color: $bleue;
  height: 0.5rem;
  margin: 0rem;
  border-bottom: none;
}

.blue-gradient-underline {
  &:after {
    content: "";
    display: block;
    width: 2rem;
    border-image: linear-gradient(120deg, $bleue-degrade-1, $bleue-degrade-2) 1 ;
    border-bottom: 0.4rem solid;
    border-top: 0;
    border-left: 0;
    margin: 1rem auto;

  }
}

.category-icon {
  width: 1rem;
  margin-right: 0.5rem;
  padding-bottom: 0.4rem;
}

.white-underline {
  &:after {
    content: "";
    display: block;
    width: 6rem;
    border-color: $white;
    border-bottom: 0.1rem solid;
    height: 0.1rem;
    border-top: 0;
    border-left: 0;
    margin: 1rem auto;

  }
}

.black {
  color: $black;
}





.gray-background {
  background-color: $light-gray;
}

.white-background {
  background-color: $white;
}

.white-area {
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  background-color: $white;
}

.max-width-75 {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 -3rem;
  @include breakpoint(medium only) {
    padding: 0 2rem;
  }
  @include breakpoint(small only) {
    padding: 0 1rem;
  }
}

.max-width-60 {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 3rem;
  @include breakpoint(medium only) {
    padding: 0 2rem;
  }
  @include breakpoint(small only) {
    paddi: 0 1rem;
  }
}

.lighter {
  font-weight: lighter;
}

.post-style {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  background-color: $white;
}

.margin-vertical-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.gray-shadow {
  box-shadow: -0.5rem -0.5rem 0rem $light-gray;
}

.remove-bullet {
  list-style: none;
}

.date {
  color: $dark-gray;
}
.auteur {
  color: $dark-gray;
  font-style: italic;
}

.image-center {
  display: block;
  margin:1rem auto;
}

.image-right {
  display: inline-block;
  float: right;
}

.image-left {
  display: inline-block;
  float: left;
}

.image-de-tete {
  width: 100%;
  height: 30vh;
}

.legende, img + em {
  margin: 0.5rem;
  color: $dark-gray;
  font-style: italic;
  font-size: smaller;
}


