// --------------------------------------------------
// Theme
// --------------------------------------------------
.blue-hr {
  background-color: $bleue;
  height: 0.5rem;
  margin: unset;
}

.margin-top-auto {
  margin-top: auto;
}

.line-height-unset {
   line-height: unset !important;
}

.list-none {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
}

.date {
  font-style: italic;
  font-weight: bold;
  color: $dark-gray;
}

