// --------------------------------------------------
// Theme
// --------------------------------------------------
.blue-hr {
  background-color: $bleue;
  height: 0.5rem;
  margin: unset;
}

.margin-top-auto {
  margin-top: auto;
}

