---
layout: page-mere
---

{% assign sorted_actualites = site.actualites | where: "is_une","true" | sort:'date' | reverse %}
<div class="gray-background padding-bottom-2 ">
  {% include components/titre-page-mere.html titre=page.title %}
  <section class="max-width-75 margin-bottom-5" >
    <h2 class="off-screen">À la une</h2>
    {% include meilleurs-actualites.html %}
  </section>
</div>
<section class="max-width-60 padding-vertical-2" >
  <h2>Toutes nos actualités
  <div id="categories" class="hide"></div>
  <div id="tags"></div>
  {% include components/list-post.html %}
</section>



