---
layout: default
---

<div id="evenement">
  <a id="content" tabindex="-1"></a>
  <section class="margin-0" >
    <div class="gray-background padding-vertical-2 ">
      <h1 class="text-center padding-vertical-3  blue-gradient-underline font-bold">{{ page.title }}</h1>
    </div>
    <section class="grid-x grid-margin-x max-width-75 margin-1 padding-vertical-2" >
      <div class="cell large-8 medium-8 small-12">
        {% include components/list-post.html titre='Tous nos événements' %}
      </div>
      <div class="cell large-4 medium-4 small-12">
        <div id="month-picker" class="daterange"></div>
        <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
          <span></span>
        </div>
      </div>
    </section>
  </section>
</div>
