---
layout: page-mere
---

<div class="gray-background">
  {% include components/titre-page-mere.html titre=page.title %}
</div>
<section class="grid-x grid-margin-x max-width-75 margin-1 padding-vertical-2" >
  <div class="cell large-8 medium-8 small-12">
    {% include components/list-post.html %}
  </div>
  <div class="cell large-4 medium-4 small-12">
    <p class="margin-large-top-1 h4">FILTRER PAR :</p>
    <p>DATE</p>
    <fieldset>
      <legend class="off-screen">Sélectionnez les dates de début et/ou de fin.</legend>
      <p id="exemple-format" class="off-screen">Format attendu : JJ/MM/AAAA</p>
      <input type="text" id="datepickerStart" class="daterange" aria-describedby="exemple-format" aria-label="Début" placeholder="JJ/MM/AAAA"/>
      au
      <input type="text" id="datepickerEnd" class="daterange" aria-describedby="exemple-format" aria-label="Fin" placeholder="JJ/MM/AAAA"/>
    </fieldset>
    <fieldset>
      <legend class="off-screen">TYPE</legend>
      <div id="categories"></div>
    </fieldset>
    <label for="search-event">MOT CLÉ</label>
    <div id="search-event" class="margin-top-1"></div>
    <button type="button" id="go-to-search-results" class="off-screen">Aller aux résultats de recherche</button>
  </div>
</section>

