---
layout: default
---

<div id="espace-presse" role="main">
  <div class="object-fit__image-container">
    <img class="object-fit__featured-image image-de-tete" alt="{{ page.une.alternative-textuelle }}" src="{{ base }}{{ page.une.image }}">
  </div>
  <a id="content" tabindex="-1"></a>
  <div class="gray-background padding-vertical-2">
    <section class="max-width-75 avis-container">
      <h1 class="text-center margin-vertical-3 blue-gradient-underline font-bold" >{{ page.title }}</h1>
      {{ content }}
      <div class="grid-container">
        <div class="grid-x grid-margin-x">
          {% for ministere in page.ministeres %}
          <div class="cell large-4 medium-6 small-12 flex-container flex-dir-column margin-bottom-3">
            <div class="object-fit__image-container index-image-container">
              <img src="{{ base }}{{ ministere.image }}" alt="photo du " class="object-fit__featured-image">
            </div>
            <h2 class="titles h3">{{ ministere.titre }}</h2>
            {% for annee in ministere.annees %}
            <div class="date-avis">{{ annee.date-annee }}</div>
            <ul class="list-avis no-bullet">
              {% for avis-conforme in annee.avis %}
              <li>
                <a class="black-link" id="fileSize-{{ avis-conforme.pdf | replace: ' ', '' }}" target="_blank" href="{{base}}{{ avis-conforme.pdf }}">
                  <div class="titles h4 margin-bottom-0">
                    {{ avis-conforme.titre }}
                  </div>
                  <div class="avis-item">
                    {{ avis-conforme.description }}
                  </div>
                  <span class="avis-item pdf">(pdf - </span>
                </a>
              </li>
              {% endfor %}
            </ul>
            {% endfor %}
            <hr class="blue-hr margin-top-auto">
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
</div>
