---
layout: default
---

<div id="avis-conforme" role="main">
  <div class="object-fit__image-container">
    <img class="object-fit__featured-image image-de-tete" alt="{{ page.une.alternative-textuelle }}" src="{{ base }}{{ page.une.image }}">
  </div>
  <a id="content" tabindex="-1"></a>
  <div class="gray-background padding-bottom-2">
    <section class="max-width-75">
      <div class="grid-x margin-horizontal-1 padding-horizontal-3 margin-bottom-2 white-background padding-large-top-5">
        <div class="cell large-8 large-offset-2 medium-10 medium-offset-1 small-12 small-offset-0 padding-bottom-1">
          <div class="padding-bottom-3">
            {% include components/titre-page-fille.html %}
          </div>
          {{ content }}
        </div>
      </div>
      <div class="grid-container">
        <div class="grid-x grid-margin-x">

          {% for ministere in page.ministeres %}
            <div class="cell large-4 medium-6 small-12 grid-y margin-bottom-1 white-container">
              {% if ministere.image %}
              <div class="object-fit__image-container index-image-container">
                <img src="{{ base }}{{ ministere.image }}" alt="photo du " class="object-fit__featured-image">
              </div>
              {% endif %}
              <div class="padding-horizontal-1">
                <h2 class="titles h3">{{ ministere.titre }}</h2>

                {% for annee in ministere.annees %}
                  <div class="date-avis">{{ annee.date-annee }}</div>
                  <ul class="list-avis no-bullet">

                    {% for avis-conforme in annee.avis %}
                    <li>
                      <a class="black-link" id="fileSize-{{ avis-conforme.file | replace: ' ', '' }}" target="_blank" href="{{base}}{{ avis-conforme.file }}">
                        <div class="titles h4 margin-bottom-0">
                          {{ avis-conforme.titre }}
                        </div>
                        <div class="avis-item">
                          {{ avis-conforme.description }}
                        </div>
                        <span class="avis-item pdf">(pdf - </span>
                      </a>
                    </li>
                    {% endfor %}

                  </ul>
                {% endfor %}
              </div>
            <hr class="blue-hr margin-top-auto">
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
</div>
