---
layout: default
---

<main class="post communique">
  <article >
    {% if page.une-ou-diaporama.size == 1 %}
    <div class="post__image-container">
      <img class="post__featured-image image-en-tete" alt="{{ page.une-ou-diaporama[0].alternative-textuelle }}" src="{{base}}{{ page.une-ou-diaporama[0].image }}">
    </div>
    {% endif %}
    <div class="margin-1">
      <h2 class="bold text-center">{{ page.title }}</h2>
      <div class="grid-x align-center">
        <p class="h5 subheader text-right">Communiqué de presse</p>
        <p class="h5 subheader padding-horizontal-1">|</p>
        <p class="h5 meta subheader">{% include date.html date=page.date %}</p>
      </div>
      {% if page.chapeau-text %}
      <div class="chapeau padding-top-2">
        <p>
          {{ page.chapeau-text }}
        </p>
      </div>
      {% endif %}
      <p class="post-content padding-2">
        {{ content }}
      </p>
    </div>
    <section class="text-center contact">
      <h3 class="h4">Contact Presse DINSIC</h3>
      <p>
        {{ page.contact-presse.name }}
        {% for tel in page.contact-presse.tel%}
        {% if forloop.last == true %}
        {{ tel }}
        {% else %}
        {{ tel }} -
        {% endif %}
        {% endfor %}
      </p>
      <a href="mailto:{{ page.contact-presse.email }}">{{ page.contact-presse.email }}</a>
    </section>
    <div class="text-center padding-vertical-1">
      <a class="blue-link" id="communiqueSize-{{ post.url | replace: ' ', '' }}" href="{{base}}/{{ page.communique_file }}"><i class="fas fa-download margin-horizontal-1"></i>Télécharger le communiqué de presse (PDF </a>
    </div>
  </article>
</main>
