---
layout: default
---

<div class="post gray-background">
  <article>
    {% include article.html %}
    <section id="contact-presse" class="text-center">
      <h2 class="h4">Contact presse</h2>
      <p>
        {{ page.contact-presse.name }}
        {% for tel in page.contact-presse.tel%}
        {% if forloop.last == true %}
        {{ tel }}
        {% else %}
        {{ tel }} -
        {% endif %}
        {% endfor %}
      </p>
      <a class="white-link" href="mailto:{{ page.contact-presse.email }}">{{ page.contact-presse.email }}</a>
    </section>
    <div class="text-center margin-top-2 padding-bottom-2 font-bold">
      <a class="blue-link" id="fileSize-{{ post.url | replace: ' ', '' }}" href="{{base}}/{{ page.communique_file }}"><i class="fas fa-download margin-horizontal-1"></i>Télécharger le communiqué de presse (PDF </a>
    </div>
  </article>
</div>
