---
layout: default
---

<section class="margin-0" >
  <div class="gray-background padding-vertical-2 ">
    <h1 class="text-center padding-vertical-3  blue-gradient-underline font-bold">{{ page.title }}</h1>
  </div>
  <section class="max-width-60 padding-vertical-2" >
    {{ content | markdownify }}
    <form class="" id="contact-form">
      <p class="required-fields"><span class="required">*</span> Champs obligatoires</p>
      <p id="message" role="status" class="text-center hide"></p>

      <label for="name"> Vos prénom et nom </label>
      <input id="name" type="text" name="name" autocomplete="name">

      <label for="email"> Votre email<span class="required">*</span> <span>(marie.dupond@domaine.com)</span></label>
      <input required id="email" type="email" name="email" autocomplete="email" aria-invalid="false">

      <label for="object"> Objet<span class="required">*</span> </label>
      <input required id="object" type="text" name="subject" aria-invalid="false">

      <label for="text"> Votre message<span class="required">*</span> </label>
      <textarea required id="text"  name="text" rows="5" aria-invalid="false"></textarea>

      <button class="button" id="btn-send-mail" type="submit" title="Envoyer votre message">Envoyer</button>
    </form>
  </section>
</section>

