---
layout: compress
---

<!doctype html>
<html class="no-js" lang="{{ site.language }}">
  {% include head.html %}
  <body>

    {% include header.html %}

    <main role="main">
    {% capture hide %}
    {% assign content = content | split: '<pre' %}

    {% for parts in content %}

    {% assign part = parts | split: '</pre>' %}
    {% assign c = part.first %}
    {% assign t = part.last %}

    {% assign t = t | replace: '“', '«&#160;'
    | replace: '”', '&#160;»'
    | replace: ' :', '&#160;:'
    | replace: ' %', '&#160;%'
    | replace: ' ;', '<span style="white-space:nowrap">&thinsp;</span>;'
    | replace: ' !', '<span style="white-space:nowrap">&thinsp;</span>!'
    | replace: ' ?', '<span style="white-space:nowrap">&thinsp;</span>?' %}

    {% if part.size == 2 %}

    {% capture output %}{{ output }}<pre{{ c }}</pre>{% endcapture %}

    {% endif %}

    {% capture output %}{{ output }}{{ t }}{% endcapture %}

    {% endfor %}
    {% endcapture %}{{ output }}

    {% include footer.html %}
    </main>
  </body>
</html>
