---
layout: default
---

{% assign missions-ordered = site.missions-dinsic | sort: 'ordre'%}
<main id="dinsic-page" class="gray-background ">
  <div class="post__image-container">
    <img id="image-de-tete" class="post__featured-image" alt="{{ page.une.alternative-textuelle }}" src="{{ page.une.image }}">
  </div>
  <section id="titre-dinsic-page" class="cell white-container" >
    <h2 class="text-center font-bold">{{ page.sous-titre }}</h2>
    <p class="lead chapeau">
      {{ page.chapeau }}
    </p>
    <h3 class="font-bold">
      La DINSIC en bref ...
    </h3>
    <div>
      {{ content }}
    </div>
  </section>

  <section id="nos-missions" class="cell white-container padding-horizontal-1 padding-bottom-3">
    <h3 class="text-center font-bold">Nos 5 missions</h3>
    <div data-smooth-scroll class="grid-x grid-margin-x align-center">
      {% for mission in missions-ordered %}
      <a href="#mission{{ mission.ordre }}"  class="cell titre-section grid-y medium-6 large-4 ">
        <img src="{{base}}/assets/img/pictogrammes/{{ mission.icon }}">
        <h5>{{ mission.title }}</h5>
        <button>Voir plus</button>
      </a>
      {% endfor %}
    </div>
  </section>
  <div class="cell grid-x">
    <div id="missions" class="cell white-container">
      {% for mission in missions-ordered %}
      <section id="mission{{ mission.ordre }}" class="mission">
        <h3 class="font-bold">{{ mission.title }}</h3>
        {{ mission.content}}
        {% if mission.encadre %}
        <div class="encadre-dinsic margin-vertical-2">
          <hr>
          <div class="display-inline">
            <i class="fas fa-search icon-loupe"></i>
            <h4 class="font-bold display-inline-block">{{ mission.encadre.titre }}</h4>
          </div>
          <p>{{ mission.encadre.contenu-text }}</p>
          <div class="chiffres-encadre grid-x grid-margin-x margin-top-2">
            {% for chiffre in mission.encadre.chiffres %}
            <div class="chiffre-encadre medium-auto cell small-12 grid-y align-middle padding-horizontal-1">
              <div class="logo-chiffre-encadre cell grid-x align-middle align-center">
                <img class="" alt="{{ chiffre.icon.titre }}" src=/assets/img/pictogrammes/{{ chiffre.icon.path }}>
              </div>
              <div class="cell">
                <div class="valeur-chiffre-encadre">
                  <p class="margin-0 h4 font-bold text-center"> {{ chiffre.valeur }}</p>
                </div>
                <p class="text-center over">{{ chiffre.titre }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% if forloop.last == false %}
        <div class="flex-container">
          <i class="fas fa-angle-down icon-arrow-down"></i>
        </div>
        {% endif %}
      </section>
      {% endfor %}
    </div>
      <div class="arrow-container hide-for-medium-only hide-for-small-only" data-sticky-container>
        <div class="sticky" data-sticky data-top-anchor="missions:top" data-btm-anchor="missions:bottom" data-margin-top="25" data-margin-right="2">
          <div class="cell grid-y" data-smooth-scroll>
            <a class="flex-container" href="#nos-missions">
              <img class="align-middle" src="{{base}}/assets/img/pictogrammes/fleche_haut.svg">
            </a>
            <!-- <a href="#next">
               <img src="{{base}}/assets/img/pictogrammes/fleche_bas.svg">
            </a> -->
          </div>
        <!-- This sticky element would stick to the window, with a marginTop of 0 -->
      </div>
    </div>
  </div>
  <!--  {% include /components/historique.html %} -->
</main>



