---
layout: default
---

<main id="dinsic-page" class="gray-background">
  <div class="white-area">
    <section id="titre-dinsic-page" class="padding-bottom-3">
      <div class="post__image-container">
        <img class="top-image post__featured-image" src="{{ page.image }}">
      </div>
      <div class="default-text-padding margin-top-2">
        <h1>{{ page.sub-title }}</h1>
        <p class="padding-top-3">{{ content }}</p>
      </div>
    </section>
    {% assign missions-ordered = site.missions-dinsic | sort: 'ordre'%}
    <section class="hide-for-small-only grid-container">
      <h2 class="default-text-padding">Nos missions</h2>
      <div data-smooth-scroll class="grid-x grid-margin-x align-center">
        {% for mission in missions-ordered %}
        <a href="#mission{{ mission.ordre }}"  class="cell card medium-6 large-4 ">
          <div class="card-section">
            <h3>{{ mission.title }}</h3>
          </div>
        </a>
        {% endfor %}
      </div>
    </section>
    {% for mission in missions-ordered %}
    <section id="mission{{ mission.ordre }}" class="default-text-padding">
      <h3 class="font-bold">{{ mission.title }}</h3>
      {{ mission.content}}
      {% if mission.encadre %}
      <div class="encadre-dinsic margin-vertical-2">
        <div class="media-object">
          <div class="media-object-section">
            <img src="/assets/img/pictogrammes/Zoom.png">
          </div>
          <div class="media-object-section align-self-bottom">
            <h4 class="font-bold">{{ mission.encadre.titre }}</h4>
          </div>
        </div>
        <p>{{ mission.encadre.contenu }}</p>
        <div id="chiffres-encadre" class="grid-x grid-margin-x margin-top-2">
          {% for chiffre in mission.encadre.chiffres %}
          <div class="chiffre-encadre medium-auto cell small-12 grid-y align-middle">
            <div class="logo-chiffre-encadre grid-x align-middle align-center">
              <img class="" alt="{{ chiffre.icon.titre }}" src={{ chiffre.icon.path }}>
            </div>
            <div class="valeur-chiffre-encadre padding-top-1">
              <p class="margin-0 h4 font-bold text-uppercase large-text-justify"> {{ chiffre.valeur }}</p>
            </div>
            <p class="text-center">{{ chiffre.titre }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </section>
    {% endfor %}
  </div>
 <div class="white-area">
   {% include /components/historique.html %}
 </div>
</main>
{% include /components/retour-haut.html %}
