---
layout: default
---

{{ page.une-ou-diaporama.image }}
<div id="dinsic-page" class="post gray-background ">
  <div class="object-fit__image-container">
    <img class="object-fit__featured-image image-de-tete" alt="{{ page.une-ou-diaporama[0].alternative-textuelle }}" src="{{ base }}{{ page.une-ou-diaporama[0].image }}">
  </div>
  <a id="content" tabindex="-1"></a>
  <article>
    <section class="cell white-container padding-large-5 padding-medium-1" >
      {% include components/titre-page-fille.html %}
      {% if page.content != blank %}
    <div class="white-container cell grid-x">
      <section id="list{{ principe.order }}" class="principe padding-bottom-3 padding-large-horizontal-5 padding-medium-1 padding-large-vertical-2">
        {{ page.content }}
      </section>
    </div>
    {% endif %}
      <div class="h2 text-center">
        {{ page.subtitle }}
      </div>
</section>
    <div class="cell grid-x">
      <div id="list" class="cell white-container">
        {% for principe in page.principes %}
        <section id="list{{ principe.order }}" class="principe padding-bottom-3 padding-large-horizontal-5 padding-medium-1 padding-large-vertical-2">
          <h3 class="font-bold">{{ principe.title }}</h3>
          {{ principe.content-text | markdownify }}

          {% if forloop.last == false %}
          <div class="flex-container margin-top-2">
            <i class="fas fa-angle-down icon-arrow-down"></i>
          </div>
          {% endif %}
        </section>
        {% endfor %}
      </div>
    </div>
    {% if page.content-bottom != blank %}
    <div class="white-container cell grid-x">
      <section id="list{{ principe.order }}" class="principe padding-bottom-3 padding-large-horizontal-5 padding-medium-1 padding-large-vertical-2">
        {{ page.content-bottom }}
      </section>
    </div>
    {% endif %}
    {% for fichier in page.files %}
    <div class="text-center margin-top-2 padding-bottom-2 font-bold">
      <a target="_blank" class="blue-link" id="fileSize-{{ fichier.file }}-{{ post.url | replace: ' ', '' }}" href="{{ base }}{{ fichier.file }}">
        <span class="fas fa-download margin-horizontal-1"></span>
        <span class="pdf">{{ fichier.nom }} (PDF {{ fichier.size }})</span>
      </a>
    </div>
    {% endfor %}
  </article>
</div>



