---
layout: page-mere
---

{% assign sorted_communiques = site.communiques | sort:'date' | reverse %}
<div class="gray-background padding-bottom-2">
  {% include components/titre-page-mere.html titre=page.title %}
  <section class="max-width-75">
    <h2 class="off-screen">À la une</h2>
    <div class="grid-container">
      <div class="grid-x grid-margin-x grid-margin-y margin-bottom-2">
        <ul class="cell remove-bullet large-12 grid-x grid-margin-x margin-0 width-100">
          {% for communique in sorted_communiques limit:2 %}
          <li class="cell large-4 medium-12 small-12">
            {% include components/carte.html data=communique is_image=true %}
          </li>
          {% endfor %}
          <li class="cell large-4 medium-12 small-12">
            <div id="contact-presse" class="padding-vertical-2">
              <img alt="picto contact presse" src="{{ page.contact-presse.pictogramme }}">
              <h2 class="h3 white-underline">{{ page.contact-presse.titre}}</h2>
              <p>{{ page.contact-presse.name }}</p>
              <p>
                {% for tel in page.contact-presse.tel%}
                {% if forloop.last == true %}
                {{ tel }}
                {% else %}
                {{ tel }} -
                {% endif %}
                {% endfor %}
              </p>
              <a class="white-link display-block text-center" href="mailto:{{ site.contact-presse.email }}">{{ page.contact-presse.email }}</a>
            </div>
            <div id="ressources-presse" class="padding-vertical-2">
              <img alt="pictogramme ressources-presse" src="{{ page.ressources-presse.pictogramme }}">
              <h2 class="h3 white-underline">{{ page.ressources-presse.titre}}</h2>
              <p> {{ page.ressources-presse.contenu}} </p>
              <div class="white-margin-link text-center margin-top-1">
                <a href="/espace-presse/ressources-presse/">Voir nos ressources presse</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
<section class="max-width-60 padding-vertical-2">
  <h2>Tous nos communiqués et dossiers de presse</h2>
  <div id="categories" class="hide"></div>
  <div id="tags"></div>
  {% include components/list-post.html %}
</section>
