---
layout: default
---

<div class="page-fille gray-background">
  <article class="article">
    {% include article.html %}
    <div id="informations-pratiques">
      <h2 class="h5">Informations pratiques</h2>
      <p class="font-bold">{{ page.lieu }}</p>
      {% if page.adresse %}
        <p>{{ page.adresse }}</p>
      {% endif %}
      <br>
      <p class="font-bold">Comment y aller ?</p>
      {% for acces in page.acces %}
      <p>
        <span>{{ acces.type }}</span>
        {% for ligne in acces.lignes %}
        <span>
          {% if forloop.last == true %}
            {{ ligne.nom }}
          {% else %}
            {{ ligne.nom }} -
          {% endif %}
        </span>
        {% endfor %}
      </p>
      {% endfor %}
      <br>
      {% for champ in page.champs_informations %}
      <p>
        <span class="font-bold">{{ champ.intitule }}</span>
        {% if champ.lien %}
        <a class="white-link" href="{{ champ.lien}}">{{ champ.contenu }}</a>
        {% else %}
        <span>{{ champ.contenu }}</span>
        {% endif %}
      </p>
      {% endfor %}
    </div>
    {% if page.adresse %}
    <h3 class="off-screen">Carte</h3>
      <div id="map" data-address="{{ page.adresse }}" >
      </div>
    {% endif %}
  </article>
</div>

