---
layout: default
---
<div id="evenement" role="main">
<ul id="list-post" class="no-bullet grid-y">
  <!--
      Here is the main paginator logic called.
      All calls to site.posts should be replaced by paginator.posts
  -->
  {% for evenement in site.evenements %}
  <li  class="">
    <h2>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ evenement.title }}</a>
    </h2>
    <span class="post-meta h5 subheader font-bold">{% include date.html date=evenement.date %}</span>
    <p>{{ post.excerpt }}</p>
  </li>
  {% endfor %}
</ul>
<div>
