---
layout: default
---

<div id="evenement">
  <div class="object-fit__image-container">
    <img class="object-fit__featured-image image-de-tete" alt="{{ page.une.alternative-textuelle }}" src="{{ page.une.image | relative_url }}">
  </div>
  <a id="content" tabindex="-1"></a>
  <section class="margin-0" >
    <div class="gray-background padding-vertical-2 ">
      <h1 class="text-center padding-vertical-3  blue-gradient-underline font-bold">{{ page.title }}</h1>
    </div>
    <section id="list-post" class="max-width-60 padding-vertical-2" >
      {% include components/list-post.html titre='Tout nos événements' %}
    </section>
  </section>
</div>
