---
layout: default
---

<div id="index-main">
  <a id="content" tabindex="-1"></a>
  <header class="grid-x">
    <div id="visuel-accueil" class="padding-vertical-3 grid-x cell medium-10">
      <div class="encart-transparent padding-1 grid-y">
        <div class="titre-encart-transparent padding-top-2 text-center">
          <div class="h2 margin-vertical-1" >
            <span aria-label="La direction interministérielle du numérique et du système d’information et de communication de l’État" class="infobulle">La DINSIC</span>
          </div>
          <div class="h1 lighter margin-bottom-1">
            {{ page.slogan }}
          </div>
        </div>
        <div class="text-center">
          <a href="/dinsic" class="button large bouton-transparent " >
            En savoir plus
          </a>
        </div>
      </div>
    </div>

    <div id="bandeau-droite" class="cell medium-2">
      <img id="photo-secretaire-etat" alt="Photo de Mounir Mahjoubi" src="/assets/img/main/mounir.jpg">
      <div id="bloc-text">
        <p>Mounir Mahjoubi</p>
        <hr>
        <p>Le secrétaire d'État chargé du Numérique</p>
        <div class="bloc-links">
          <div class="link">
            <a href="https://www.numerique.gouv.fr/le-secretaire-d-etat">
              <img class="picto" src="/assets/img/pictogrammes/mounir-biographie.svg" alt="pictogramme biographie">Sa biographie</a>
          </div>
          <div class="link">
            <a href="https://minefi.hosting.augure.com/Augure_Minefi/r/ContenuEnLigne/Download?id=39172DED-FC3C-4263-8944-0412FAC0E4E1&filename=165%20-%20Agenda%20de%20Mounir%20MAHJOUBI%20semaine%20du%2010%20septembre%202018.pdf">
              <img class="picto" src="/assets/img/pictogrammes/mounir-agenda.svg" alt="pictogramme agenda">Son agenda</a>
          </div>
          <div class="link">
            <a href="https://www.numerique.gouv.fr/actualites">
              <img class="picto" src="/assets/img/pictogrammes/mounir-actualite.svg" alt="pictogramme actualités">Ses actualités</a>
          </div>
          <div class="link">
            <a href="https://www.numerique.gouv.fr/presse/communiques-presse">
              <img class="picto" src="/assets/img/pictogrammes/mounir-communique.svg" alt="pictogramme communiqués">Ses communiqués</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="gray-background padding-top-3">
    <h2 class="font-bold text-center margin-bottom-3">{{ page.titre-une }}</h2>
    {% assign sorted_actualites = site.actualites | where: "is_une","true" | sort:'date' | reverse %}
    {% include meilleurs-actualites.html %}
    <div class="blue-margin-link text-center padding-2 ">
      <a href="{{ '/actualites' | relative_url }}" class="h4">Voir toutes nos actus</a>
    </div>
  </section>
</div>
