---
layout: default
---

<main id="index-main">
  <header id="visuel-accueil" class="padding-vertical-3">
    <div class="encart-transparent padding-1 grid-y">
      <div class="titre-encart-transparent padding-top-2 text-center">
        <h1 class="h1 lighter margin-bottom-2">
          {{page.texte-mis-en-avant}}
        </h1>
      </div>
      <div class="text-center">
        <button href="/dinsic" class="button large bouton-transparent " >
          En savoir plus
        </button>
      </div>
    </div>
  </header>
  <section id="meilleures-actus" >
    <div class="text-center padding-top-3 padding-bottom-2">
      <h2 class="font-bold">Nos dernières actualités</h2>
    </div>
    <div class="grid-container">
      <ul class="grid-x grid-margin-x remove-bullet">
        {% assign sorted_actualites = site.actualites | where:"tags","une" | sort:'date' | reverse %}
        {% for actualite in sorted_actualites limit:3 %}
        <li class="cell large-4 medium-12 small-12">
          <a href="{{ actualite.url}}" class="card height-100 black-link">
            <div class="card-image post__image-container index-image-container">
              <img class="post__featured-image" alt="{{ actualite.une-ou-diaporama[0].alternative-textuelle }}" src="{{ actualite.une-ou-diaporama[0].image }}">
            </div>
            <div class="card-section padding-1">
              <h3 class="font-bold">{{ actualite.title }}</h3>
              <h4 class="subheader font-bold">{% include date.html date=actualite.date %}</h4>
              <p>{{ actualite.excerpt | truncatewords: 40 }}</p>
            </div>
            <div class="margin-top-auto margin-bottom-1 margin-horizontal-1">
              <button class="button blue-border-button zoom">Lire plus</button>
            </div>
              <hr class="blue-hr">
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div id="voir-tout" class="text-center padding-2">
      <a href="/actualites">Voir toutes nos actus</a>
    </div>
  </section>
</main>
