---
layout: default
---

<section id="content" class="max-width-60 padding-vertical-2">
  <h1>Résultats de la recherche :</h1>
  <div class="margin-bottom-2 width-100" role="search">
    <label for="search-input">Votre recherche</label>
    <input id="search-input" >
    <button type="button" id="go-to-search-results" class="off-screen">Voir les résultats de recherche</button>
  </div>
  <div id="stats"></div>
  <div id="infinite-hits" tabindex="-1" aria-live="polite" aria-atomic="true"></div>
</section>
