#image-carte-double, .carte-image {
  order: -1;
}

.simple-card {
  display: flex;
  flex-direction: column;
}

.twitter {
  position: relative;
  .tacTwitterTimelines {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

div#tarteaucitronRoot.tarteaucitronBeforeVisible:before,
div#tarteaucitronAlertBig {
  display:none!important;
}
