// --------------------------------------------------
// Config
// --------------------------------------------------

//
// Colors
// --------------------------------------------------
$primary-color: red;
$secondary-color: blue;

$bleue: #034ea2;
$bleue-clair: #036ed2;
$turquoise: #009cbe;

$bleue-degrade-1: #0d5896;
$bleue-degrade-2: #2ab2b8;

$paragraphe-color: #666666;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #464646;
$black: #0a0a0a;
$white: #fefefe;

$light-black: #444549;

$link-color: $black;
$link-hover-color: $dark-gray;

//Couleur encadré
$encadre-bleue-avant: #d8eaff;
$encadre-bleue-arriere: #beddff;
