*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url(https://use.fontawesome.com/releases/v5.1.1/css/all.css);

// List of icon unicode symbols from the icon font
// and background colours for the icons
$icon-list: (
  vimeo #4dbfe3,
  twitter #32b9e7,
  facebook #4b70ab,
  googleplus #fa5432,
  pintrest #d63533,
  linkedin #0087be,
  dribble #fc89b1,
  stumbleupon #f15d29,
  lastfm #e42124,
  instagram #6291b2,
  dropbox #167ab6,
  picasa #c49aca,
  soundcloud #fb740b,
  behance #33abdb,
  skype #00AFF0,
  github #333333,
  flickr #333333,
  rdio #0086CD,
  evernote #aaca62
);

// Each loop for creating the icon CSS
@each $icon, $icon-background in $icon-list {
  .social__icon--#{$icon} {
    background-color: $medium-gray;
    &:hover {
      // Swap black for white to make the icons lighter on hover
      text-decoration: none;
      background-color: $icon-background;
      color: inherit;
    }
  }
}

// Display icons next to each other
.social__item {
  display: inline-block;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

// Basic icon style
.icon {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Extend icon to all other icons
[class^="icon--"] {
  @extend .icon;
}

// Icon background
.social__icon {
  font-size: 1.4em;
  color: $black;
  float: left;
  text-decoration: none;
  // Remove border radius to make icons square
  border-radius:100%;
  width: 2.2em;
  height: 2.2em;
  text-align: center;

  // Vertical Centering
  display: flex;
  align-items: center;
  justify-content: center;
}

// Extend social__icon to all other icons
[class^="social__icon"] {
  @extend .social__icon;
}

// Add padding to icons container
.social__container {
  padding: 1rem;
}

