// --------------------------------------------------
// Links
// --------------------------------------------------

.bouton-transparent {
  background-color: transparent;
  border: solid $white 0.2rem;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
}

a {
  color: $turquoise;
  &:hover {
    color: $turquoise;
    text-decoration: underline;
  }
}
.black-link {
  color: $black;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}


.zoom {
  &:hover {
    transform: scale(1.1);
  }
}
.blue-border-button {
  background-color: $white;
  color: $bleue;
  border: $bleue solid 2px;
  &:hover {
    background-color: $white;
    color: $bleue;
  }
}

.off-screen {
  position: absolute;
  left: -99999999rem;
}

