// --------------------------------------------------
// Links
// --------------------------------------------------

.bouton-transparent {
  background-color: transparent;
  border: solid $white 0.2rem;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
}

a {
  color: $link-color;
  &:hover {
    opacity: 0.9;
  }
}

.blue-link {
  color: $bleue;
  &:hover {
    color: $bleue;
  }
}

.zoom {
  &:hover {
    transform: scale(1.1);
  }
}
