// --------------------------------------------------
// Links
// --------------------------------------------------

.bouton-transparent {
  background-color: transparent;
  border: solid $white 0.2rem;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
}

a {
  color: $turquoise;
  &:hover, &:focus {
    color: $turquoise;
    text-decoration: underline;
  }
}
.black-link {
  color: $black;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.white-link {
  color: $white;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}
.blue-margin-link, .white-margin-link {
  a {
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0.5rem;
    border-left:0.2rem solid ;
    border-right:0.2rem solid ;
  }

}
.blue-margin-link {
  a {
    color:$bleue;
    border-color: $bleue;
  }

}

.white-margin-link {
  a {
    color:$white;
    border-color: $white;
  }
}


.zoom {
  &:hover {
    transform: scale(1.1);
  }
}
.blue-border-button {
  background-color: $white;
  color: $bleue;
  border: $bleue solid 2px;
  &:hover {
    background-color: $white;
    color: $bleue;
  }
}

.voir-plus-button {
  background-color: $bleue;
  color: white;
  font-weight: bold;
  border: $bleue solid 2px;
  &:hover {
    border: $dark-gray solid 2px;
  }
}

.off-screen {
  position: absolute!important;
  left: -99999999rem!important;
  overflow:hidden!important;
}

.partager {
  margin: 1rem;
  text-decoration: none;
  ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
    li {
      display: inline;
      &:before {
        content: none!important;
      }
      a {
        &:hover {
          text-decoration: none;
        }
        img {
          width: 2rem;
          margin: 0.2rem;
        }
      }
    }
  }
}

.active-link {
  background: $light-gray;
  font-weight: bold;
}

.block-link {
  position: relative;
  a::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.twitter-timeline {
  height: 100%;
}

#tarteaucitronManager {
  color: white;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.tac_visually-hidden {
  display: none;
}
